body {
  font-family: nunito;
}
.main {
  padding: 0px 10px 0px 10px;
}
#incident_day_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid grey;
  height: 50px;
  padding: 5px;
}
#incident_day_row a {
  text-decoration: none;
  color: rgb(181, 155, 72);
}
#incident_day_row a :hover {
  text-decoration: underline solid; /* le survolage ne marche pas */
  color: aqua;
}
#actualDay {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
}
#actualDayValue {
  border: 1px solid black;
  margin-left: 2px;
}
td {
  border: 1px solid black;
}
