<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Identification</title>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="principale.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav id="header_nav">
            <div id="header_titleBox">
                <p>Page de connexion</p>
                <a href="principale.ejs"><img id="header_logo" src="" alt="image"></a>
            </div>
            <div id="header_c_toRight">
                <div id="header_search">
                    <input type="search" placeholder="Champs de recherche">
                </div>
                <div class="connexion">
                    <button><a href="identification.ejs">Connexion</a></button>
                </div>
            </div>
        </nav>
    </header>
    <div id="header_title">Identification</div>
    <!--Compte existant-->
    <form id="login_form">
        <p>Compte existant</p>
        <div id="info_row">
            <label for="username_login">Nom d'utilisateur : </label>
            <input type="text" id="username_login" name="username_login">
        </div>
        <div id="info_row">
            <label for="password_login">Mot de passe : </label>
            <input type="password" id="password_login" name="password_login">
        </div>
        <input type="submit" value="S'identifier">
    </form>

    <!--Nouveau compte-->
    <form id="sign_up_form">
        <p>Nouveau compte</p>
        <div id="info_row">
            <label for="username_sign_up">Nom d'utilisateur : </label>
            <input type="text" id="username_sign_up" name="username_sign_up">
        </div>
        <div id="info_row">
            <label for="password_sign_up">Mot de passe : </label>
            <input type="password" id="password_sign_up" name="password_sign_up">
        </div>
        <div id="info_row">
            <label for="completeName_sign_up">Nom complet : </label>
            <input type="text" id="completeName_sign_up" name="completeName_sign_up">
        </div>
        <div id="info_row">
            <label for="email_sign_up">Adresse e-mail : </label>
            <input type="email" id="email_sign_up" name="email_sign_up">
        </div>
        <input type="submit" value="S'enregistrer">
    </form>
</body>

</html>