<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Page Principale</title>
    <link rel="stylesheet" type="text/css" href="incident.css">
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav id="header_nav">
            <div id="header_titleBox">
                <p>Création d'incident</p>
                <a href="/"><img id="header_logo" src="" alt="image"></a>
            </div>
            <div id="header_c_toRight">
                <div id="header_search">
                    <input type="search" placeholder="Champs de recherche">
                </div>
                <div id="username">
                    <% if (typeof user!=='undefined' ){ %>
                        <%= user %>
                            <% } else { %>
                                <div class="connexion">
                                    <button><a href="identification.ejs">Connexion</a></button>
                                </div>
                                <% } %>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h1>Signaler un nouvel incident</h1>
        <p>Pour signaler un incident, veulliez remplir le formulaire si-dessous </p>
        <form id="incident_form" action="newIncident" method="GET">
            <div class="incident_info">
                <h3>Description</h3>
                <textarea id="incident_info" name="incident_info"></textarea>
            </div>
            <div class="incident_adresse">
                <h3>Adresse</h3>
                <textarea id="incident_adresse" name="incident_adresse"></textarea>
            </div>
            <br>
            <input type="submit" value="Soumettre">
        </form>
    </main>
</body>

</html>