<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Page Principale</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" type="text/css" href="principale.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav id="header_nav">
            <div id="header_titleBox">
                <p>Incident Louvain la neuve</p>
                <a href="/"><img id="header_logo" src="" alt="image"></a>
            </div>
            <div id="header_c_toRight">
                <div id="header_search">
                    <input type="search" placeholder="Champs de recherche">
                </div>
                <div id="username">
                    <% if (typeof user!=='undefined' ){ %>
                        <%= user %>
                            <% } else { %>
                                <div class="connexion">
                                    <button><a href="identification.ejs">Connexion</a></button>
                                </div>
                                <% } %>
                </div>

            </div>
        </nav>
    </header>
    <main>
        <div>
            <h3>Présentation</h3>
            <p> Bienvenue sur ... </p>
            <p>Ce site resence les incidents survenant à Louvain-La-Neuve. Vous pouvez vous aussi
                en ajoutant en cliquanr sur le bouton ci-dessous <br>
            </p>

        </div>
        <div id="incident_day_row">
            <a href="incident.ejs">Lien pour créer un incident</a>
            <div id="actualDay">
                <p>Jour actuel :</p>
                <p id="demo">--/--/----</p>
            </div>
        </div>
        <div>
            <p id="demo"></p>
        </div>

        </div>
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Adresse</th>
                    <th>Rapporté par</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <% if(typeof description !=='undefined' ){%>
                            <%=description%>
                                <%} %>
                    </td>
                    <td>
                        <% if(typeof addresse !=='undefined' ){%>

                            <%=addresse%>

                                <%} %>
                    </td>
                    <td>
                        <% if(typeof user !=='undefined' ){%>

                            <%=user%>

                                <%} %>
                    </td>
                    <td>Une date 1</td>
                </tr>

            </tbody>
        </table>
    </main>
</body>
<script>
    const time = new Date();
    document.getElementById("demo").innerHTML = time;
</script>

</html>%>