main {
  padding: 50px;
  font-family: nunito;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.login_form {
  display: block;
  justify-content: space-between;
  gap: 15px;
}
button {
  padding: 5px;
  border: none;
  background-color: rgb(224, 224, 40);
  color: black;
  border-radius: 15px;
}
.form_login button {
  position: absolute;
  top: 500px;
}
.form_login button :hover {
  position: absolute;
  top: 500px;
  background-color: aqua;
}
