body {
  font-family: nunito;
}
main {
  padding: 50px;
}

textarea {
  height: 100px;
  width: 300px;
}
input {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(214, 201, 190);
  border: none;
}
